{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
{% for type, messages in message_list %}
  <div class="row messages-row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <div role="contentinfo" aria-label="{{ status_headings[type] }}"{{ attributes|without('role', 'aria-label') }}>
        {% if type == 'error' %}
          <div class="alert alert-danger">
        {% else %}
          <div class="alert alert-info">
        {% endif %}
          {% if status_headings[type] %}
            <span class="sr-only">{{ status_headings[type] }}</span>
          {% endif %}
          {% if messages|length > 1 %}
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% else %}
            {{ messages | first }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}