<div class="col-xs-12 col-sm-4 col-lg-2">
    {{ content.field_grupos_nombre }}
    {{ content.field_grupos_icono }}
</div>
<div class="col-xs-12 col-sm-8 col-lg-5">
    {{ content.field_grupos_integrantes }}
    {{ content.field_grupos_contactos }}
</div>
<div class="col-xs-12 col-xs-12 col-lg-5">
    {{ content.field_grupos_descripcion }}
</div>